/* --------скрытый заголовок героя h2-начало------- */
.hero_name {
  visibility: hidden;
  margin-bottom: 0px;
  padding-top: 0px;
}
/* --------скрытый заголовок героя h2-конец------- */

/* -------скрытый заголовок особенностей---- */
.os_title {
  display: flex;
  padding-top: 0px;
}
/* -------скрытый заголовок конец---- */

/* -----ЗАГОЛОВОК ПОРТФОЛИО------ */
.portfolio-title {
  padding: 0px;
  margin: 0px;
}
/* -----ЗАГОЛОВОК ПОРТФОЛИО КОНЕЦ------ */