:root {
  --brand-color:#E5E5E5;
  --header-color:#FFFFFF;
  --nk-color:#F5F4FA;
  --hero-footer:#2F303A;
  --blue-color:#2196F3;
  --h-color:#212121;
  --brand-letter:#757575;
  --link-font:'Raleway', sans-serif;
  --title-h:font-weight: 500;
 }